:root {
  --primary-color: #34bacc;
  --secondary-color: #32537f;
  --background-color: #172438;
  --background-color-light: #1d314c;
  --background-color-dark: #142034;

  --text-light: #cad4e7;
  --text-dark: #50607f;

  --blue: #149bfe;
  --purple: #b76ffb;

  --red: #d50000;
  --amber: #ffab00;
  --lime: #aeea00;
  --green: #00c853;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

p {
  letter-spacing: 0.5px;
  color: var(--text-light);
}
